zipp==3.18.1
py3rosmsgs==1.18.2
jedi==0.19.1
setuptools-scm==8.0.4
pyserial==3.5
numpy==1.24.4
packaging==24.0
parso==0.8.3
scipy==1.10.1
traitlets==5.14.2
MarkupSafe==2.1.5
pickleshare==0.7.5
stack-data==0.6.3
cycler==0.12.1
pycryptodomex==3.20.0
matplotlib-inline==0.1.6
typing_extensions==4.10.0
executing==2.0.1
ptyprocess==0.7.0
pandas==2.0.3
pytest==8.1.1
ipython==8.12.3
psutil==5.9.8
python-dateutil==2.9.0.post0
tzdata==2024.1
Jinja2==3.0.3
PyYAML==6.0.1
iniconfig==2.0.0
backcall==0.2.0
bitstring==4.1.4
distro==1.9.0
contourpy==1.1.1
opencv-python==4.9.0.80
seaborn==0.13.2
pillow==10.2.0
kiwisolver==1.4.5
rospkg==1.5.0
gnupg==2.3.1
pymlg @ git+https://github.com/decargroup/pymlg@main
pyuwbcalib @ git+https://github.com/decargroup/uwb_calibration@master
catkin-pkg==1.0.0
exceptiongroup==1.2.0
pure-eval==0.2.2
matplotlib==3.7.5
fonttools==4.50.0
bagpy==0.5
bitarray==2.9.2
pyparsing==3.1.2
pytz==2024.1
pexpect==4.9.0
Pygments==2.17.2
docutils==0.20.1
decorator==5.1.1
pluggy==1.4.0
-e git+ssh://git@github.com/decargroup/miluv.git@main#egg=miluv
tomli==2.0.1
six==1.16.0
prompt-toolkit==3.0.43
asttokens==2.4.1
importlib_resources==6.4.0
wcwidth==0.2.13